{{- if and .Site.Params.github_doc_repository .File -}}
<a href="{{ .Site.Params.github_doc_repository }}/edit/master/content/{{ .File.Path }}" class="edit-page"><i class="fas fa-pen-square"></i> Edit on GitLab</a>
{{- end -}}
